/*global*/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab:700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', serif;
    color: #252422;
    background-color: #DAEBEB;
}

header {
    padding: 2rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
    width: 75rem;
}

h1 {
    font-size: 8rem;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    line-height: 7.5rem;
    text-align: left;
    margin: 2rem 0;
}

header p {
    line-height: 3rem;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.results-top-return {
    background-color: #151515;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 2.6rem;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
}

.top-bar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90rem;
}

.top-bar button {
    padding: 1rem 1.5rem;
    background-color: rgb(73, 147, 172);
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: .2rem;
    font-family: 'Lato', serif;
    font-size: 1.6rem;
    cursor: pointer;
}

.container-startpage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5vh;
    margin: 0 auto;
    flex-wrap: wrap;
}

.results-containers {
    padding: 1rem;
    padding-top: 6rem;
}

.result-container {
    padding: 2rem;
    background-color: #151515;
    color: #fff;
    margin: 3rem 0;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
}

.result-container:hover {
    transform: scale(1.05);
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    cursor: pointer;
}

.article-links a {
    line-height: 2.8rem;
    /* text-decoration: underline; */
    color: #779FA1;
    margin-left: 1rem;
    font-size: 1.7rem;
}

.article-links a:hover {
    color: rgb(69, 157, 187);
}

.article-links a::before {
    content: '- ';
    font-weight: bold;
    text-decoration: none;
}

.result p {
    margin: 1rem;
}

.article-count::before {
    content: 'Articles: ';
}

.news-source {
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
    font-weight: bold;
}


.headlines-dropdown {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    align-self: center;
}

.sentiment-score {
    border-radius: 50%;
    border: .3rem solid rgba(0,0,0,0.4);
    color: #151515;
    padding: 1.3rem;
    background-color: green;
    font-size: 3rem;
    font-weight: bold;
}

.news header {
    padding: 2rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
    max-width: 50rem;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer>li>label {
    flex: 1 0 12rem;
    width: 25%;
}

.form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.form-section {
    padding: 2rem;
    line-height: 5rem;
    width: 100%;
}

.form-section h2 {
    font-size: 3.6rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin-bottom: 3.5rem;
    background-color: #252422;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.form-section button {
    border: none;
    padding: 2rem 2rem;
    text-transform: uppercase;
    width: 50%;
    margin-top: 2rem;
    background-color: rgb(73, 147, 172);
    color: #FFFCF2;
    border-radius: .3rem;
    letter-spacing: .1rem;
    font-size: 1.7rem;
    transition: .3s;
}

.form-section button:hover {
    box-shadow: 0px 2px 15px rgba(0,0,0,0.4);
    background-color: #40798C;
    transform: scale(1.07);
    cursor: pointer;
}

.form-section button:active {
    transform: scale(1);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}

.flex-outer {
    margin-bottom: 2rem;
}

input[type="text"] {
    padding: .8rem;
    border-radius: .2rem;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #252422;
    font-family: 'Lato', serif;
    border: .2rem solid rgb(69, 157, 187);
    width: 75%;
    font-size: 1.8rem;
}

input[type="text"]:focus {
    outline: none;
    background-color: #40798C;
    color: #fff;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer>li>label {
    flex: 1 0 12rem;
    max-width: 22rem;
    font-weight: bold;
    font-size: 2rem;
}

.flex-outer li p {
    flex: 1 0 100%;
    font-weight: bold;
    font-size: 2rem;
}

.flex-outer>li>label+*,
flex-inner {
    flex: 1 0 20rem;
}

.radio {
    position: relative;
    line-height: 2.5rem;
    font-size: 2.4rem;
    margin: 1.5rem;
    cursor: pointer;
}

.radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    border: .2rem solid #CCC5B9;
    border-radius: 100%;
}
.radio .label:after {
    content: '';
    position: absolute;
    top: .3rem;
    left: .3rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: rgb(73, 147, 172);
    transform: scale(0);
}

input[type="radio"]:checked + .label {
    border-color: rgb(73, 147, 172);
}
input[type="radio"]:checked + .label:after {
    transform: scale(1);
    opacity: 1;
}

.hidden {
    display: none;

}

.red {
    background-color: #E63946;
}

.green {
    background-color: #73A580;
}

.yellow {
    background-color: #F9DC5C;
}


@media screen and (min-width: 1255px) {
    header {
        padding: 2rem;
        margin-bottom: 2rem;
        line-height: 2.5rem;
        max-width: 50rem;
    }

    .container-startpage {
        padding-top: 12vh;
    }
}

@media screen and (min-width: 905px) {
    header {
        margin-right: 3rem;
    }

    .form-section {
        padding-top: 7vh;
    }

    .container-startpage {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
        margin: auto;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 10rem;
        line-height: 9rem;
    }

    .results-containers {
        max-width: 90rem;
        margin: auto;
    }

    .headlines-dropdown {
        max-width: 80%;
        flex-direction: column;
        line-height: 3rem;
    }

}