/*global*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    margin: auto;

    flex-wrap: wrap;

} */



header {
    padding: 2rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
    max-width: 50rem;
}

h1 {
    font-size: 12rem;
    line-height: 10rem;
    text-align: left;
    margin: 2rem 0;
}

.form-section {
    padding: 2rem;
    line-height: 5rem;
}

.form-section h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.flex-outer {
    margin-bottom: 2rem;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer>li>label {
    flex: 1 0 12rem;
    max-width: 22rem;
    font-weight: bold;
}

.flex-outer li p {
    flex: 1 0 100%;
    font-weight: bold;
}

.flex-inner {
    /* align-self: center;  */
    justify-content: flex-start;
}

.flex-outer>li>label+*,
flex-inner {
    flex: 1 0 20rem;
}

.flex-inner label,
.flex-inner input {
    margin-right: 1.5rem;
}

.form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section select {
    max-width: 58%;
}

.form-section button {
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.results-top-return {
    position: fixed;
    top: 0;
}

.results-top-return h3 {
    
}

@media screen and (min-width: 905px) {
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
        padding-top: 15vh;
        margin: auto;
        flex-wrap: wrap;
    }
}